# Ignored files      #
######################
msg
main
log
*.o
tree_test
physics_test
matrix_test
distribution_test
buffer_test
difq_test
socket_test
server_test
template_meta_test
graph_test
prime
sort_test
gravity_test
vector_test
hash_test
reference_test
boost_test
mathfunc_test
template_test
math_test
*~
